<%= render partial: "layouts/page_title",
       locals: {title: "Edit meeting",
          subtitle: @meeting.title,
          breadcrumbs: [["Meetings", meetings_path], [@meeting.title, nil]] } %>

<%= form_for(@meeting) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <div class="actions"><%= f.submit "Save Meeting", class: "btn btn-primary" %></div>
<% end %>