<%= render partial: "layouts/page_title",
       locals: {title: "New meeting",
          subtitle: "",
          breadcrumbs: [["Meetings", meetings_path], ["New", nil]] } %>

<%= form_for(@meeting) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <div class="actions"><%= f.submit "Save Meeting", class: "btn btn-primary" %></div>
<% end %>