*.swp
*.csv
*~
.byebug_history
.DS_Store
.idea
.project
.secret
/.bundle
/.vscode
/config/application.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/db/import
/log
/lib/tasks
/public/system
/tmp
/vendor/bundle
doc/
emails.txt
public.old
public/.htaccess_off
public/assets.byebug_history
