*.swp
*.csv
*~
.byebug_history
.DS_Store
.idea
.project
/.bundle
/.vscode
/config/application.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/db/import
/log
/lib/tasks
/public/system
/publications
/tmp
/vendor/bundle
doc/
emails.txt
public.old
public/.htaccess_off
public/assets
storage/

# Ignore master key for decrypting credentials and more.
/config/master.key
.secret
