*.swp
*.csv
*~
.byebug_history
.DS_Store
.envrc
.idea
.project
/.bundle
/.vscode
/config/application.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3.*
/db/import
/log
/public/system
/publications
/tmp
/vendor/bundle
doc/
emails.txt
public.old
public/.htaccess_off
public/assets
storage/
/lib/tasks/import.rake

# Ignore master key for decrypting credentials and more.
/config/master.key
.secret

# direnv
.direnv/
backup/

# Worksheet
publications.tsv
titles.txt
