<% featured_publication = get_featured_publication(@publications) %>
<div class="panel panel-default">
  <div class="panel-heading"><strong>Featured publication</strong></div>
  <div class="panel-body" align="center">
    <%= image_tag URI.join(request.base_url, featured_publication.pdf.url(:medium)).to_s %>
  </div>
  <div class="panel-footer" align="center">
    <%= link_to "#{featured_publication.title_truncated}" \
                "(#{featured_publication.publication_year})",
                featured_publication %>
    <br />
  </div>
</div>
