<% featured_publication = get_featured_publication(@publications) %>
<div class="card">
  <div class="card-header"><strong>Featured Publication</strong></div>
  <div class="card-body" align="center">
    <%= image_tag featured_publication.pdf.preview(resize: "450x640>") if featured_publication.pdf.attached? %>
  </div>
  <div class="card-footer" align="center">
    <%= link_to "#{featured_publication.title_truncated}" \
                "(#{featured_publication.publication_year})",
                featured_publication %>
    <br />
  </div>
</div>
