<%= form_tag(publications_path, :method => "get", id: "search-form") do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Search
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
            <%= text_field_tag :search, params[:search],  class: "form-control",
                               placeholder: "Search Publications" %>
        </div>
        <div class="col-sm-3">
          <%= submit_tag "Search full-texts", class: "btn btn-basic" %>
        </div>
        <div class="col-sm-3">
          <a data-toggle="collapse" href="#collapse1">Advanced search...</a>
        </div>
        
        <% if current_user.try(:editor_or_admin?) %>   
         <div class="col-sm-3">
            <div class="form-group">
              <%= select_tag :validation_type, 
                             options_for_select(Validation::VALIDATION_TYPES,
                                                params[:validation_type]),
                             class: "form-control" %>
            </div>
          </div>     
        <% else %>   
          <div class="col-sm-3">
            &nbsp;
          </div>
        <% end %>
      
      </div>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            TO BE DONE
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>