<div data-chart="area-series"
     data-categories="<%= categories.to_json %>"
     data-series="<%= occurrences.map { |name, values| { name: name, data: values } }.to_json %>"
     data-unit="<%= unit %>"
     style="height:<%= height %>px;">
</div>
