<a href="#<%= category_name %>" data-bs-toggle="collapse">
	show categories
</a>
<div id="<%= category_name %>" class="collapse">
	<br>
	<% categories.each do |category| %>
	  <code><%= category.description %></code>
	  <span class="badge bg-secondary"><%= category.publications.count %></span>
	  <% if category != categories.last %>
	  	,&nbsp;  
	  <% end %>
	<% end %>.
</div>