<% [Field, Focusgroup, Location, Platform].each do |model| %>
  <p>
    <strong><%= model.name.pluralize %></strong><br>
    <% table_name = model.table_name %>
    <% cats = model.joins(:publications)
                   .where("publications.id IN (?)", publications.map(&:id))
                   .select("#{table_name}.description, #{table_name}.id, count(#{table_name}.id) AS count")
                   .group("#{table_name}.id")
                   .order("count DESC")
                   .limit(5) %>
    <%= render partial: 'shared/category_counts', collection: cats, as: :category %>
  </p>
<% end %>

<p>
  <strong>Co-author</strong><br>
  <% User.joins(:publications)
         .where("publications.id IN (?)", publications.map(&:id))
         .select("users.last_name, users.id, count(users.id) AS count")
         .group("users.id")
         .order("count DESC")
         .limit(5).each do |member| %>
    <span class="badge">
      <%= member.count %>
    </span>&nbsp;<%= link_to member.last_name, member_pages_path(member) %>
    <br>
  <% end %>
</p>
