<% [:fields, :focusgroups, :locations, :platforms].each do |keyword| %>
  <% if entity.try(keyword).count > 0 %>
    <div class="mb-3">
      <strong><%= keyword.to_s.titleize %></strong><br>
      <% entity.try(keyword).each do |object| %>
        <%= link_to object.description, summary_path(keyword.to_s, object), class: "badge border border-secondary text-secondary text-decoration-none me-1" %>
      <% end %>
    </div>
  <% end %>
<% end %>
