<% [:fields, :focusgroups, :locations, :platforms].each do |keyword| %>
  <% if entity.try(keyword).count > 0 %>
    <p>
      <strong><%= keyword.to_s.titleize %></strong><br>
      <% for object in entity.try(keyword) || [] %>
        <%= link_to object.description, summary_path(keyword.to_s, object) %><br>
      <% end %>
    </p>
  <% end %>
<% end %>
