<% if post.post_type == "behind_the_science" %> 
  <%= render partial: 'shared/behind_the_scenes',
             locals: {post: post,
                      style: 'overview'} %>
<% elsif post.post_type == "early_career" &&
         post.featured_user.present? %>
  <%= render partial: 'shared/behind_the_scenes',
           locals: {post: post ,
                    style: 'overview'} %>          
<% end %>

<h4>
  <%= post.category %>: 
  <%= link_to "#{post.title}", post_path(post.slug) %>
</h4>