<% authors = publication_authors.joins(:users)
                         .select("users.id as user_id, count(users.id) as count")
                         .group("users.id").order("count(users.id) DESC") %>

<% hide_authors = false %>

<% for author in authors %>
  <% if author.count < 2 && !hide_authors %>
    <div id="hidden_authors" class="collapse">
    <% hide_authors = true  %>
  <% end %>

  <span class="badge"><%= author.count %></span>&nbsp;
  <% @user = User.find_by_id(author.user_id) %>
  <%= link_to "#{@user.first_name} #{@user.last_name}", member_pages_path(@user) %>
  <br>
<% end %>

<% if hide_authors %>
  </div>
  <a href="#hidden_authors" data-toggle="collapse">
    show all
  </a>
<% end %>
