<div data-chart="bar"
     data-categories="<%= data[0].map { |d| d[:description] }.to_json %>"
     data-values="<%= data[1].to_json %>"
     data-unit="<%= unit %>"
     style="height:<%= height %>px;">
</div>
