<% contributor = User.find_by_first_name_and_last_name(first_name, last_name) %>
<% if contributor %>
	<div class="row">
	  <div class="col-sm-4">
	    <% if !contributor.profile_picture.nil? %>
	    	<%= image_tag contributor.profile_picture.variant(resize: "100x100>") %>
	    <% end %>
	  </div>
	  <div class="col-sm-8">
	    <strong><%= link_to "#{first_name} #{last_name}", member_pages_path(contributor.id) %></strong><br>
		<%= contributor.organisation.name if contributor.organisation %><br>
	    <i><%= role %></i><br>
	  </div>
	</div>
	<br>
<% end %>