<% @latest_members.each do |user| %>
  <div class="mb-1">
    <% if user.publications.count > 0 or user.research_interests %>
      <%= link_to user.full_name_normal, member_pages_path(user.id), style: "text-decoration: none;" %>
    <% else %>
      <%= user.full_name_normal %>
    <% end %>
    <% if user.updated_at.to_date == user.created_at.to_date %>
      <span class="badge bg-success" style="font-size: 0.7em;">new</span>
    <% end %>
    <small class="text-muted"><%= user.updated_at.to_date %></small>
  </div>
<% end %>
