<% publications.each do |publication| %>
  <table class="table table-striped">
    <%= render partial: "publications/publication", 
               locals: { publication: publication } %>
  </table>
<% end %>