<div style="background-color: #f0f1f3; margin-bottom: 0.5rem;">
  <%= link_to image_tag(photo.image.variant(resize: "1024x768"), style: "width: 100%;"),
      photo_path(photo) %>
</div>
<%= photo.description %>
<small>
	(C) <%= photo.credit %>
	 <% if photo.creative_commons %>
      <a href="https://creativecommons.org/licenses/by-nc/4.0/">
      	[CC BY-NC 4.0]
      </a>
  <% end %>
</small>
