<%= link_to image_tag(photo.image.variant(resize: "1024x768")), 
    photo_path(photo) %>
<%= photo.description %>
<small>
	(C) <%= photo.credit %>
	 <% if photo.creative_commons %>
      <a href="https://creativecommons.org/licenses/by-nc/4.0/">
      	[CC BY-NC 4.0]
      </a>
  <% end %>
</small>