<div class="slider">
  <div class="slider-count">
    <div class="owl-carousel">
      <div><img src='images/original/1.jpg' ></div>
      <div><img src='images/original/2.jpg' ></div>
      <div><img src='images/original/3.jpg' ></div>
      <div><img src='images/original/4.jpg' ></div>
      <div><img src='images/original/5.jpg' ></div>
    </div>
  </div>
<script>
$(".owl-carousel").owlCarousel({
	navigation : false,
	autoPlay : 3000,
  slideSpeed : 300,
  paginationSpeed : 400,
  singleItem: true
});
</script>
</div>