<%= render partial: "layouts/home_title" %>

<div class="panel panel-default">
  <div class="panel-body  background_image" align="center">
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-sm-1">&nbsp;</div>
      <div class="col-sm-7" style="height: 300px; border: 5px">
        <%= render_async world_map_path(key: "pages_home", model: Location, ids: @locations.map(&:id).join(','), height: 300, backgroundcolor: '#FCFFC5') %>
      </div>
      <div class="col-sm-4">&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
  </div>
</div>


<!-- Latest news -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Latest posts</strong></div>
      <div class="panel-body">
        <div class="row">
          <%= render partial: 'shared/post_summary_small', collection: @posts, as: :post %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Latest publications -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Latest publications</strong></div>
      <div class="panel-body" style="columns: 375px 2;">
        <%= render partial: 'newsfeed', locals: { publications: @publications } %>
      </div>
    </div>
  </div>
</div>
