<%= render partial: "layouts/page_title",
       locals: {title: "Latest blog posts",
                backlink: root_path } %>

<div class="row">
  <div class="col-sm-12">
    <%= paginate @posts %>
    <% @posts.each do |post| %>
      <%= render partial: 'shared/post_summary',
                 locals: {post: post } %>
      <hr>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
