<% title("Edit #{@post.title}") %>
<%= render partial: 'shared/breadcrumbs', locals: { breadcrumbs: [["Admin", admin_root_path], ["Posts", dashboard_admin_posts_path], [@post.title, nil]] } %>
<h3 class="page-title">Editing "<%= @post.title %>"</h3>

<%= render 'form' %>
