<% title("Edit #{@post.title}") %>
<h3 class="page-title">Edit Post <small><%= @post.title %></small></h3>
<%= render partial: 'shared/breadcrumbs', locals: { breadcrumbs: [["Admin", admin_root_path], ["Posts", dashboard_admin_posts_path], [@post.title, nil]] } %>
<hr/>

<%= render 'form' %>
<hr/>
<%= link_to "<i class='bi bi-dash-square'></i> Delete post".html_safe, admin_post_path(@post), method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-small btn-danger" %>
