<% title("New Post") %>
<h3 class="page-title">Add a New Post</h3>
<div class="mb-1">
  <strong><%= link_to "<<< Back", dashboard_admin_posts_path, style: "text-decoration: none;" %></strong>
</div>
<hr/>

<%= render 'form' %>
