<% title("New Post") %>
<%= render partial: 'shared/breadcrumbs', locals: { breadcrumbs: [["Admin", admin_root_path], ["Posts", dashboard_admin_posts_path], ["New", nil]] } %>
<h3 class="page-title">Add a New Post</h3>
<hr/>

<%= render 'form' %>
