<div class="row">
  <div class="col-sm-6">
    <select onchange="window.location=this.value">
    <% if !object %>
      <option>Select a <%= object.class.name.downcase %></option>
    <% end %>
    <%= render partial: 'dropdown_item', locals: { object: object, model: model }, collection: objects %>
  </select>
  </div>
  <div class="col-sm-6">
    <% if object.publications.original.present? %>
      <p class="bg-primary">&nbsp;Showing <%= object.publications.original.count %> publications</p>
    <% else %>
      <p class="bg-warning">No location selected</p>
    <% end %>
  </div>
</div>
