<% [Focusgroup, Field, Platform].each do |model| %>
  <p>
    <strong><%= model.name.pluralize %></strong><br>
    <% table_name = model.table_name %>
    <% cats = model.joins(:publications)
                   .where("publications.id IN (?)", publications.map(&:id))
                   .select("#{table_name}.description, #{table_name}.id, count(#{table_name}.id) AS count")
                   .group("#{table_name}.id")
                   .order("count DESC")
                   .limit(5) %>
    <%= render partial: 'shared/category_counts', collection: cats, as: :category %>
  </p>
<% end %>
