<%= render partial: "layouts/page_title",
       locals: {title: "New expedition",
          subtitle: "",
          breadcrumbs: [["Expeditions", expeditions_path], ["New", nil]] } %>

<%= form_for(@expedition) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <div class="actions"><%= f.submit "Save Expedition", class: "btn btn-primary" %></div>
<% end %>