<% cache photo do %>
<div style="aspect-ratio: 3/2; overflow: hidden; background-color: #f0f1f3;">
  <%= link_to photo_path(photo) do %>
    <%= image_tag photo.image.variant(resize: "340x227^", crop: "340x227+0+0"),
                  style: "width: 100%; height: 100%; object-fit: cover;" %>
  <% end %>
</div>
<% end %>
