<%= render partial: "layouts/page_title",
       	   locals: {title: "Edit photo",
           subtitle: @photo.description,
           breadcrumbs: [["Images", photos_path], [@photo.description_truncated, nil]] } %>

<%= form_for(@photo) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <div class="actions"><%= f.submit "Save Photo", class: "btn btn-primary" %></div>
<% end %>