<%= render partial: "layouts/page_title",
       	   locals: {title: "Edit photo",
           subtitle: @photo.description,
           backlink: photos_path } %>

<%= form_for(@photo) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <div class="actions"><%= f.submit %></div>
<% end %>