<% title("Published Posts") %>
<%= render partial: 'shared/breadcrumbs', locals: { breadcrumbs: [["Admin", admin_root_path], ["Publications", nil]] } %>
<h3 class="page-title">Publications</h3>

<div class="col-sm-12">
  <%= paginate @publications %>
  <div class="card mt-2">
    <div class="card-body" style="background-color: #f8f9fa;">
      <%= render partial: 'pages/newsfeed', locals: { publications: @publications } %>
    </div>
  </div>
  <%= paginate @publications %>
</div>
