<% title("Published Posts") %>
<h3 class="page-title">Publications</h3>
<%= render partial: 'shared/breadcrumbs', locals: { breadcrumbs: [["Admin", admin_root_path], ["Publications", nil]] } %>
<hr/>

<div class="col-sm-12">
	<%= paginate @publications %>
	<table class="table table-striped">
	<% @publications.each do |publication| %>
  	<%= render "publications/publication", publication: publication %>
	<% end %>
	</table>
	<%= paginate @publications %>
</div>
