<% title("Published posts") %>
<h3 class="page-title">Publications</h3>
<div class="mb-1">
  <strong><%= link_to "<<< Back", dashboard_admin_posts_path, style: "text-decoration: none;" %></strong>
</div>
<hr/>

<div class="col-sm-12">
	<%= paginate @publications %>
	<table class="table table-striped">
	<% @publications.each do |publication| %>
  	<%= render "publications/publication", publication: publication %>
	<% end %>
	</table>
	<%= paginate @publications %>
</div>
