<% title("Published posts") %>
<h3 class="page-title">Posts <small>Published</small></h3>
<p><%= link_to "Back to dashboard", admin_posts_dashboard_path %></p>
<hr/>

<%= will_paginate @publications %>
