<% title("Published Posts") %>
<h3 class="page-title">Posts <small>Published</small></h3>
<div class="mb-1">
  <strong><%= link_to "<<< Back", dashboard_admin_posts_path, style: "text-decoration: none;" %></strong>
</div>
<hr/>

<%= paginate @publications %>
