/*
 * Overwritten by RailsBricks
 *
 *= require_self
 *= require owl.carousel
 *= require bootstrap-slider
 */

@import "owl.theme.default";
@import "font-awesome";
@import "railsbricks_custom";

/* Custom CSS */

.slider-count {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

span.glyphicon-link {
  font-size: 1.2em;
}

.required:after {
  content: " *";
  color: red;
}

.background_image  {
  background-image: image-url('home_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px;
}

.scrollbox {
  height: 200px;
  overflow-x: scroll;
  border: 1px;
}

.relevance {
  span {
    font-weight: bold;
    font-size: 36px;

    span {
      font-weight: normal;
      font-size: 14px;
      font-style: italic;
      vertical-align: top;
    }
  }

  blockquote strong {
    background-color: #ffee99;
    font-weight: bold;
  }
}

.search {
  h5 {
    -moz-padding-start: 1em;
    -webkit-padding-start: 1em;
  }

  ul {
    font-weight: bold;
    -moz-padding-start: 1em;
    -webkit-padding-start: 1em;

    &.scrollable {
      overflow: scroll;
      height: 120px
    }

    li {
      white-space: nowrap;
      list-style-type: none;
    }
  }

  label {
    font-weight: normal;
  }

  .right { text-align: right; }

  .slider {
    &.slider-horizontal {
      width: 100%;
    }

    .slider-handle {
      background: rgb(124, 181, 236)
    }

    .slider-selection {
      background: rgb(149, 206, 255)
    }
  }
}

.search.horizontal {
  h5 {
    display: inline-block;
  }

  ul {
    display: inline-block;

    li {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

/* Ensure spacing under navbar */
header { margin-bottom: 90px; }

/* World cloud */
.word-cloud {
  width: 100%;
  height: 200px;

  span {
    color: #000 !important;
  }

  span.associated {
    color: #428bca !important;
  }

  span:hover {
    color: #23527c !important;
  }
}

.robot {
  background-color: #eeffff;
  border-color: #ddeeee;
  border-radius: 0.5em;
  border-width: 1px;
  border-style: solid;
  margin: 2em 0;
  padding: 1em 2em;
}

.feed {
  break-inside: avoid-column;
  margin-bottom: 40px;
}
