/*
 * Overwritten by RailsBricks
 *
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 *= require bootstrap-slider
 */

@import "railsbricks_custom";

.word-cloud {
    width: 100%;
    height: 200px;
}

.word-cloud span {
    color: #000 !important;
}

.word-cloud span.associated {
    color: #428bca !important;
}

.word-cloud span:hover {
    color: #23527c !important;
}
