<%= render partial: "layouts/page_title",
	       locals: {title: "Edit site",
	          subtitle: "#{@site.site_name}",
	          breadcrumbs: [["Sites", sites_path], [@site.site_name, nil]] } %>

<%= form_for(@site) do |f| %>
  <%= render partial: 'form', locals: {f: f, site: @site} %>
  <div class="actions"><%= f.submit "Save Site", class: "btn btn-primary" %></div>
<% end %>