<%= render partial: "layouts/page_title",
       locals: {title: "Sites",
       			subtitle: @site.site_name,
                backlink: root_path } %>

<div class="row">
  <div class="col-sm-8">

    <div class="panel panel-default">
      <div class="panel-body">
	      <table class="table table-striped">
				  <% @site.publications.where(original_data: true)
				              .order('publication_year DESC, created_at DESC')
				              .each do |publication| %>
				    <%= render publication %>
				  <% end %>
				</table>
			</div>
		</div>
	</div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Research keywords</strong>
      </div>
      <div class="panel-body">
        <%= render_async site_keywords_path(id: @site.id) %>
			</div>
		</div>

    <% if @site.publications.count > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Research details</strong> (top 5 / category)
        </div>
        <div class="panel-body">
          <%= render_async site_research_details_path(id: @site.id) %>
        </div>
      </div>
    <% end %>

  </div>
</div>
