<%= render partial: "layouts/page_title",
       locals: {title: "Sites",
       			subtitle: @site.site_name,
                breadcrumbs: [["Sites", sites_path], [@site.site_name, nil]] } %>

<div class="row">
  <div class="col-sm-8">

    <div class="card">
      <div class="card-body">
	      <table class="table table-striped">
				  <% @site.publications.where(original_data: true)
				              .order('publication_year DESC, created_at DESC')
				              .each do |publication| %>
				    <%= render publication %>
				  <% end %>
				</table>
			</div>
		</div>
	</div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <strong>Research keywords</strong>
      </div>
      <div class="card-body" style="min-height: 232px;">
        <%= turbo_frame_tag "site-keywords-#{@site.id}", src: site_keywords_path(id: @site.id), loading: :lazy %>
			</div>
		</div>

    <% if @site.publications.count > 0 %>
      <div class="card">
        <div class="card-header">
          <strong>Research details</strong> (top 5 / category)
        </div>
        <div class="card-body">
          <%= turbo_frame_tag "site-research-details-#{@site.id}", src: site_research_details_path(id: @site.id), loading: :lazy %>
        </div>
      </div>
    <% end %>

  </div>
</div>
