<div class="panel panel-default">
  <div class="panel-heading">
    <strong>
      A rapidly growing research field
    </strong>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <%= render_async growing_depth_range_path(:status => @status, :year => @year) %>
      </div>
      <div class="col-sm-6">
        <%= render_async growing_publications_over_time_path(:status => @status, :year => @year) %>
      </div>
    </div>

    <div class="row"><br><br></div>

    <div class="row">
      <div class="col-sm-6">
        <%= render_async growing_locations_over_time_path(:status => @status, :year => @year) %>
      </div>
      <div class="col-sm-6">
        <%= render_async growing_authors_over_time_path(:status => @status, :year => @year) %>
      </div>
    </div>
  </div>
</div>
