<center><h4>Literature increased ><code>3</code>-fold over past 10 years</h4></center>
<% cats, occurs = count_publications_over_time(@publications.group(:publication_year).count) %>
<%= render partial: 'shared/area_graph', 
           locals: { title: 'Publications',
                     categories: cats,
                     occurrences: occurs,
                     height: 300,
                     unit: 'Publications' } %>
<p>
  Fig. 1b: <b>Number of publicatons over time</b><br>
  <small>
    The cumulative number of publications is calculated for each year. Fold-increase calculated for 2017 vs 2007.
  </small>
</p>
