<div class="panel panel-default">
  <div class="panel-body bg-danger">
    Note: Currently generating graphs across the whole database, this may take some time.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    The following graphs summarize the metadata across the <code><%= @publications.count %></code> scientific articles in this database that are validated and present original data from mesophotic depths.
  </div>
</div>
