<% format_for_chart(@journals, @journals_top) %>
<center><h4>
  Most used <b>scientific journal</b> outlets:
  <%= raw data.first.take(2).map { |a| "<code>#{ a.downcase }</code>" }.to_sentence %>
</h4></center>
<%= render partial: 'shared/stats_bar_graph',
           locals: { title: 'Journals_bar_graph',
                     data: data,
                     height: 300,
                     unit: 'Percentage' } %>
<p>
  Fig. 2c: <b>Journals</b> (top 10)<br>
</p>
