<% data = format_for_chart(@fields, @fields_top) %>
<center><h4>
  Most studied <b>research fields</b>:
  <%= raw data.first.take(3).map { |a| "<code>#{ a.downcase }</code>" }.to_sentence %>
</h4></center>
<%= render partial: 'shared/stats_bar_graph',
           locals: { title: 'Fields_bar_graph',
                     data: data,
                     height: 300,
                     unit: 'Percentage' } %>
<p>
  Fig. 2a: <b>Research fields (top 10)</b><br>
</p>
