<div class="panel panel-default">
  <div class="panel-heading"><strong>Research interest over time</strong></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <%= render_async time_refuge_path(:status => @status, :year => @year) %>
      </div>
      <div class="col-sm-6">
        <%= render_async time_mesophotic_path(:status => @status, :year => @year) %>
      </div>
    </div>
  </div>
</div>
