<div class="card">
  <div class="card-header"><strong>Research Interest Over Time</strong></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6" style="min-height: 300px;">
        <%= turbo_frame_tag "stats-time_refuge", src: time_refuge_path(:status => @status, :year => @year), loading: :lazy %>
      </div>
      <div class="col-sm-6" style="min-height: 300px;">
        <%= turbo_frame_tag "stats-time_mesophotic", src: time_mesophotic_path(:status => @status, :year => @year), loading: :lazy %>
      </div>
    </div>
  </div>
</div>
