<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Our knowledge of mesophotic ecosystems across the world</strong>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <%= render_async world_publications_path %>
        <br><br>
        <%= render_async world_users_path %>
      </div>
      <div class="col-sm-6">
      <%= render_async world_locations_path %>
      </div>
    </div>
  </div>
</div>
