<% data = count_geographic_occurrences_of_users(@users) %>
<center><h4>
  Most researchers from <b>locations</b>:
  <%= raw data.sort_by { |a| a[:z] }.reverse.take(4).map { |a| "<code>#{ a[:name] }</code>" }.to_sentence %>
</h4></center>
<%= render partial: 'shared/stats_world_map', locals: { title: 'Members',
                                                        data: data,
                                                        unit: 'member(s)',
                                                        height: 200 } %>
<p>
  Fig. 3b: <b>Number of mesophotic researchers across countries</b><br>
  <small>
    Based on the list of members on this website
  </small>
</p>
