<%= render partial: 'shared/stats_bar_graph',
           locals: { title: 'Sovereigns_bar_graph',
                     data: format_for_chart(@sovereigns, 25),
                     height: 600,
                     unit: 'Percentage' } %>
<p>
  Fig. 3d: <b>EEZ Sovereigns (top 25)</b><br>
</p>
