<div class="panel-body">
  <% model = object.sites.count > 0 ? Site : Location %>
  <% places = object.sites.count > 0 ? object.sites : [object] %>
  <%= render_async world_map_path(key: "#{model}_dropdown_body", model: model, ids: places.map(&:id).join(','), height: 300) %>
</div>
