<% if @location %>
  <% @publications = @location.publications %>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <select data-tom-select="navigate" data-placeholder="Search for a location…" class="form-select">
      <option value="">Search for a location…</option>
      <% @locations.each do |location| %>
        <option value="<%= location_path(location) %>" <%= "selected" if @location == location %>>
          <%= location.description %>
        </option>
      <% end %>
    </select>
  </div>
  <div class="col-sm-6">
    <% if @publications.try(:original).present? %>
      <p class="bg-primary">&nbsp;Showing <%= @publications.original.count %> publications</p>
    <% else %>
      <p class="bg-warning">No location selected</p>
    <% end %>
  </div>
</div>