<%= render partial: "layouts/page_title",
       locals: {title: "Edit location",
          subtitle: "#{@location.description}",
          breadcrumbs: [["Locations", locations_path], [@location.description, nil]] } %>

<%= form_for(@location) do |f| %>
  <%= render partial: 'form', locals: {f: f, 
  									   location: @location} %>
  <div class="actions"><%= f.submit "Save Location", class: "btn btn-primary" %></div>
<% end %>