<% title("Locations") %>
<p id="notice"><%= notice %></p>
<h1>Locations</h1>
<br>

<div class="col-sm-10">
  <%= render 'location_dropdown' %>
	<% data = count_geographic_occurrences_of_publications(@locations) %>
	<%= render partial: 'shared/world_map_clickable', 
			   locals: { title: 'Locations',
			   			 data: data,
			   			 height: 300 } %>
</div>
<div class="col-sm-2">
    <%= render partial: 'featured_location' %>
</div>
