<%= render partial: "layouts/page_title",
       locals: {title: "New location",
          subtitle: "",
          breadcrumbs: [["Locations", locations_path], ["New", nil]] } %>

<%= form_for(@location) do |f| %>
  <%= render partial: 'form', locals: {f: f, 
  									   location: @location} %>
  <div class="actions"><%= f.submit "Save Location", class: "btn btn-primary" %></div>
<% end %>