<div class="row">
  <% title("Home") %>
</div>

<%= render partial: "layouts/page_title", locals: {
      title: "The repository for scientific information on mesophotic ecosystems",
      badge: content_tag(:span, l(@latest_update.to_date, format: :long), class: "badge fw-normal ms-0 ms-sm-2", style: "font-size: 0.85rem; color: #c7254e; background-color: #f9f2f4;")
    } %>
<hr>
