<div class="row">
  <% title("Home") %>
</div>

<div class="row">
  <div class="col-9">
    <h3 class="page-title">
      The repository for scientific information on mesophotic ecosystems
    </h3>
  </div>
  <div class="col-3">
    <h3 class="page-title text-end">
      <span class="badge fw-normal" style="font-size: 0.5em; color: #c7254e; background-color: #f9f2f4;"><%= l @latest_update.to_date, format: :long %></span>
    </h3>
  </div>
</div>
<hr>