<li class="nav-item">
	<%= link_to path, title: title, class: "nav-link" do %>
  		<i class="bi <%= icon %>"></i>&nbsp;
  		<strong class="d-none d-lg-inline"><small><%= title %></small></strong>
	<% end %>
</li>
