<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">
      <%= link_to image_tag("header.png"), root_path, class: "navbar-brand" %>
      <button type="button" class="navbar-toggler"
              data-bs-toggle="offcanvas" data-bs-target="#navbar"
              aria-controls="navbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar" class="offcanvas-md offcanvas-end" tabindex="-1" aria-labelledby="navbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="navbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#navbar" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <%= render "layouts/navigation_links" %>
        </div>
      </div>
    </div>
  </nav>
</header>
