<div class="row">
  <% if defined?(title) && defined?(subtitle) %>
    <% title("#{title}: #{subtitle}") %>
  <% else %>
    <% title("#{title}") %>
  <% end %>
</div>

<% if backlink %>
  <div class="mb-1">
    <strong><%= link_to '<<< Back', backlink, style: "text-decoration: none;" %></strong>
  </div>
<% end %>

<div class="row">
  <div class="col-12">
    <h3 class="page-title">
      <%= title %><% if defined?(subtitle) && subtitle.present? %> <span style="font-weight: normal; font-size: 0.75em;" class="text-muted"><%= subtitle %></span><% end %>
    </h3>
  </div>
</div>
